h1 {
    color:red;
    background-color:black;
    font-family:'Courier New', Courier, monospace;
}

h2{
    color:darkred;
    background-color: black;
    font-family:'Courier New', Courier, monospace
}

h3{
    color:darkred;
    background-color: black;
    font-family:'Courier New', Courier, monospace
}

h4{
    color:darkred;
    background-color: black;
    font-family:'Courier New', Courier, monospace
}

h5{
    color:red;
    background-color: black;
    font-family:'Courier New', Courier, monospace
}







